# 4.10 Final Data Adjustments

## 1. Import Libraries and Data
## 2. Delete columns with personal information
## 3. Crosstabs Python Check
## 4. Divide customers into geographic regions
## 5. Cross geographic_region and spending_flag
## 6. Exclusion for customers with less than 5 orders

### 1. Import Libraries and Data

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Create Path

path = r'/Users/bethanybreed/Documents/A Career Foundry/07-2022 Instacart Basket Analysis'

In [3]:
#Import data as 'instacart'

instacart = pd.read_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_all.pkl'))

### 2. Delete columns with personal information

In [4]:
instacart2 = instacart.drop(columns = ['first_name','last_name'])

In [5]:
instacart2.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,spending_flag,order_frequency,order_frequency_flag,gender,state,age,date_joined,num_of_dependants,fam_status,income
0,2539329,1,1,2,8,7.0,196,1,0,Soda,...,Low Spender,20.0,Regular Customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Low Spender,20.0,Regular Customer,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Low Spender,20.0,Regular Customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Low Spender,20.0,Regular Customer,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Low Spender,20.0,Regular Customer,Female,Alabama,31,2/17/2019,3,married,40423

In [6]:
instacart2.shape

(32404859, 30)

### 3. Crosstabs Python Check

In [7]:
#Create Crosstab for order_number and days_since_prior_order

In [8]:
crosstab = pd.crosstab(instacart2['days_since_prior_order'], instacart2['order_number'], dropna = False)

In [9]:
#copy to clipboard

In [10]:
crosstab.to_clipboard()

In [11]:
instacart2['days_since_prior_order'].value_counts(dropna=False)

7.0     5552294
30.0    3067374
6.0     2517498
5.0     2124434
4.0     2078648
8.0     1931945
3.0     1876188
2.0     1463724
9.0     1217841
14.0    1029656
10.0     967187
1.0      940474
13.0     851114
11.0     820761
12.0     774164
15.0     671458
16.0     461335
0.0      448329
21.0     444142
17.0     382114
20.0     379732
18.0     350587
19.0     334882
22.0     308849
28.0     253151
23.0     225834
27.0     204061
24.0     193421
25.0     180417
26.0     177775
29.0     175470
Name: days_since_prior_order, dtype: int64

In [12]:
#note that my crosstab was spitting out all the NaN values on day 7 for some reason but it shouldn't affect data

### 4. Divide customers into geographic regions

In [13]:
#Divide customers into geographic regions by northeast, midwest, south, west

In [14]:
result = []

for value in instacart2['state']:
  if value in ('Maine','New Hampshire','Vermont','Massachusetts','Rhode Island','Connecticut','New York','Pennsylvania','New Jersey'):
    result.append('Northeast')
  elif value in ('Wisconsin','Michigan','Illinois','Indiana','Ohio','North Dakota','South Dakota','Nebraska','Kansas','Minnesota','Iowa','Missouri'):
    result.append('Midwest')
  elif value in ('Delaware','Maryland','District of Columbia','Virginia','West Virginia','North Carolina','South Carolina','Georgia','Florida','Kentucky','Tennessee','Mississippi','Alabama','Oklahoma','Texas','Arkansas','Louisiana'):
    result.append('South')
  else:
    result.append('West')

In [15]:
#Check results

In [16]:
result

['South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 ...]

In [17]:
instacart2['geographic_region'] = result

In [18]:
instacart2['geographic_region'].value_counts(dropna=False)

South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: geographic_region, dtype: int64

In [19]:
instacart2.groupby('geographic_region').agg({'prices': ['mean']})

                     prices
                       mean
geographic_region
Midwest            7.792584
Northeast          7.782409
South              7.794918
West               7.790355

### 5. Cross geographic_region and spending_flag

In [20]:
#create crosstab to check quantity of spenders in each region

In [21]:
crosstab2 = pd.crosstab(instacart2['geographic_region'], instacart2['spending_flag'], dropna = False)

In [22]:
crosstab2.to_clipboard()

### 6. Exclusion for customers with less than 5 orders

In [23]:
#create exclusion flag column five_or_more with yes/no to include or not

In [24]:
instacart2.loc[instacart2['max_order'] < 5, 'five_or_more'] = 'No'
instacart2.loc[instacart2['max_order'] >= 5, 'five_or_more'] = 'Yes'

In [25]:
instacart2['five_or_more'].value_counts(dropna = False)

Yes    30964564
No      1440295
Name: five_or_more, dtype: int64

In [26]:
#create new dataframe with only "yes" from exclusion flag five_or_more

In [27]:
instacart_final =  instacart2[instacart2['five_or_more']=='Yes']

## Check for Nan Values in prices column

In [28]:
df_nan3 = instacart_final[instacart_final['prices'].isnull() == True]

In [29]:
df_nan3[['prices', 'user_id']].head(60)

        prices  user_id
7805       NaN     1519
7806       NaN     1519
15143      NaN     2409
20264      NaN     3531
20497      NaN     3793
22488      NaN     3819
22489      NaN     3819
22490      NaN     3819
22491      NaN     3819
30434      NaN     5218
30435      NaN     5218
30436      NaN     5218
30437      NaN     5218
30438      NaN     5218
30439      NaN     5218
63655      NaN    10662
63656      NaN    10662
75583      NaN    12431
81602      NaN    13460
81603      NaN    13460
87224      NaN    15454
98648      NaN    17189
131582     NaN    23520
131583     NaN    23520
131584     NaN    23520
131585     NaN    23520
147484     NaN    26152
185512     NaN    32927
185513     NaN    32927
185514     NaN    32927
185515     NaN    32927
185516     NaN    32927
185517     NaN    32927
198360     NaN    35524
230917     NaN    41106
230918     NaN    41106
230919     NaN    41106
239957     NaN    42366
242372     NaN    42735
242373     NaN    42735
267032     NaN    46287
267033     NaN    46287
267034     NaN    46287
268614     NaN    46664
274226     NaN    47416
274227     NaN    47416
274228     NaN    47416
274229     NaN    47416
274230     NaN    47416
274231     NaN    47416
274232     NaN    47416
274233     NaN    47416
274234     NaN    47416
274235     NaN    47416
275636     NaN    47677
275637     NaN    47677
275638     NaN    47677
275639     NaN    47677
276026     NaN    47727
276027     NaN    47727

In [32]:
instamean = instacart_final['prices'].mean()

In [34]:
instacart_final['prices'].fillna(value = instamean)

0            9.0
1            9.0
2            9.0
3            9.0
4            9.0
            ...
32404850    10.7
32404851    10.7
32404852    10.7
32404853    10.7
32404854    10.7
Name: prices, Length: 30964564, dtype: float64

In [36]:
df_nan4 = instacart_final[instacart_final['prices'].isnull() == True]

In [39]:
df_nan4[['prices', 'user_id']].head(30)

Empty DataFrame
Columns: [prices, user_id]
Index: []

## Set price_range_loc

In [44]:
instacart_final.loc[instacart_final['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [42]:
instacart_final.loc[(instacart_final['prices'] <= 15) & (instacart_final['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [43]:
instacart_final.loc[instacart_final['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [45]:
instacart_final['price_range_loc'].value_counts(dropna = False)

Mid-range product     20896648
Low-range product      9674840
High-range product      393076
Name: price_range_loc, dtype: int64

In [46]:
#export instacart_final so it is saved

In [47]:
instacart_final.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'instacart_final.pkl'))