# 4.8 Task

## 1. Import library and data
## 2. find aggregated mean of ord_num grouped by dept id
## 3. Create Loyalty Flag for Existing Customers
## 4. Use Loyalty Flag to Compare Prices of Products Purchased
## 5. Create Spending Flag per user for avg price across all their orders
## 6. Create Order Frequency Flag per user based on how often they order
## 7. Export Data as Pickle

### 1. Import Libaries and Data

In [1]:
# Import Libraries

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
#Create Path

In [4]:
path = r'/Users/bethanybreed/Documents/A Career Foundry/07-2022 Instacart Basket Analysis'

In [5]:
#Import Data as ords_prods_merge

In [6]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_merged47.pkl'))

### 2. Find Aggregated mean of order_number grouped by dept id

In [7]:
#Check Data Frame Basics

In [8]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both,Regularly busy,Busiest days,Average Orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average Orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most Orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average Orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most Orders

In [9]:
# Mean of order_number group by department_id

In [10]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [11]:
# Analyze and compare to the subset data from lesson walkthrough

#### The most obvious observation is that this will include all the departments, whereas the subset only inlcuded 8 departments. Also, the answers are different. When working with a subset you are missing a lot of orders which include high/low answers that would affect your overall mean (esp if they are on the higher or lower end and might bring that mean up or down). Generally speaking the mean in the subset was lower than that of one that included all the data

###  3. Create Loyalty Flag for Existing Customers

In [12]:
#Create new column with max orders for each user "max_order"

In [13]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both,Regularly busy,Busiest days,Average Orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average Orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most Orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average Orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most Orders,10

In [15]:
#Create Loyalty Flag based on criteria:
#If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
#If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
#If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

In [16]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [17]:
# Check counts for loyalty flag

In [18]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [19]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

### 4. Use Loyalty Flag to Compare Prices of Products Purchased

In [20]:
#Find Average Price of product for each loyalty group

In [21]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

In [22]:
#Find max Price of product for each loyalty group

In [23]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['max']})

                   prices
                      max
loyalty_flag
Loyal customer    99999.0
New customer      99999.0
Regular customer  99999.0

In [24]:
#Find min price of product for each loyalty group

In [25]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['min']})

                 prices
                    min
loyalty_flag
Loyal customer      1.0
New customer        1.0
Regular customer    1.0

#### Overall the min and max for each group is the same. Max price is capped and each group includes at least one entry from that category.  The mean is what shows the true difference. Based on that new customers generally are purchasing items with a higher cost than those of regular customers.  This could be looked into to see which items they are buying to see if it's a one time large household item and regular customers are ordering, say groceries which are a lower cost.

### 5. Create Spending Flag per user for avg price across all their orders

In [26]:
# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [27]:
#Create column of average price of price per user

In [28]:
ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [29]:
#Checking new column stats

In [30]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both,Regularly busy,Busiest days,Average Orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average Orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most Orders,10,New customer,6.367797

In [31]:
ords_prods_merge[['user_id', 'mean_price', 'prices']].head(60)

    user_id  mean_price  prices
0         1    6.367797     9.0
1         1    6.367797     9.0
2         1    6.367797     9.0
3         1    6.367797     9.0
4         1    6.367797     9.0
5         1    6.367797     9.0
6         1    6.367797     9.0
7         1    6.367797     9.0
8         1    6.367797     9.0
9         1    6.367797     9.0
10       15    3.980556     9.0
11       15    3.980556     9.0
12       15    3.980556     9.0
13       15    3.980556     9.0
14       15    3.980556     9.0
15       19    8.372059     9.0
16       19    8.372059     9.0
17       19    8.372059     9.0
18       21    7.012683     9.0
19       31    8.137793     9.0
20       31    8.137793     9.0
21       43    7.444898     9.0
22       43    7.444898     9.0
23       52    6.356287     9.0
24       52    6.356287     9.0
25       52    6.356287     9.0
26       52    6.356287     9.0
27       52    6.356287     9.0
28       52    6.356287     9.0
29       52    6.356287     9.0
30       52    6.356287     9.0
31       52    6.356287     9.0
32       52    6.356287     9.0
33       52    6.356287     9.0
34       52    6.356287     9.0
35       52    6.356287     9.0
36       52    6.356287     9.0
37       67    7.656790     9.0
38       67    7.656790     9.0
39       67    7.656790     9.0
40       67    7.656790     9.0
41       67    7.656790     9.0
42       67    7.656790     9.0
43       67    7.656790     9.0
44       67    7.656790     9.0
45       67    7.656790     9.0
46       67    7.656790     9.0
47       67    7.656790     9.0
48       67    7.656790     9.0
49       67    7.656790     9.0
50       67    7.656790     9.0
51       67    7.656790     9.0
52       67    7.656790     9.0
53       67    7.656790     9.0
54       67    7.656790     9.0
55       67    7.656790     9.0
56       81    8.165385     9.0
57       81    8.165385     9.0
58       82    6.441221     9.0
59       82    6.441221     9.0

In [32]:
# Create Spending Flag based on criteria:
# Low Spender = lower than 10 for mean
# High Spender = higher than or equal to 10

In [33]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'spending_flag'] = 'Low Spender'
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'spending_flag'] = 'High Spender'

In [34]:
#Check spending flag

In [35]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: spending_flag, dtype: int64

### 6. Create Order Frequency Flag per user based on how often they order

In [36]:
#If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [37]:
#Create new column order_frequency for user_id based on median of days_since_prior_order

In [38]:
ords_prods_merge['order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [39]:
#Check new column

In [40]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,order_frequency
0,2539329,1,1,2,8,7.0,196,1,0,Soda,...,9.0,both,Regularly busy,Busiest days,Average Orders,10,New customer,6.367797,Low Spender,20.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797,Low Spender,20.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797,Low Spender,20.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Least busy,Slowest days,Average Orders,10,New customer,6.367797,Low Spender,20.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Least busy,Slowest days,Most Orders,10,New customer,6.367797,Low Spender,20.0

In [41]:
ords_prods_merge[['user_id', 'order_frequency', 'days_since_prior_order']].head(60)

    user_id  order_frequency  days_since_prior_order
0         1             20.0                     7.0
1         1             20.0                    15.0
2         1             20.0                    21.0
3         1             20.0                    29.0
4         1             20.0                    28.0
5         1             20.0                    19.0
6         1             20.0                    20.0
7         1             20.0                    14.0
8         1             20.0                     0.0
9         1             20.0                    30.0
10       15              8.0                     7.0
11       15              8.0                     8.0
12       15              8.0                     7.0
13       15              8.0                     7.0
14       15              8.0                    14.0
15       19              7.0                     6.0
16       19              7.0                     8.0
17       19              7.0                     6.0
18       21              7.0                     6.0
19       31              6.0                     7.0
20       31              6.0                     8.0
21       43             10.0                     4.0
22       43             10.0                     3.0
23       52              8.0                     7.0
24       52              8.0                     7.0
25       52              8.0                     7.0
26       52              8.0                     8.0
27       52              8.0                     8.0
28       52              8.0                     7.0
29       52              8.0                     8.0
30       52              8.0                     7.0
31       52              8.0                     6.0
32       52              8.0                     8.0
33       52              8.0                     6.0
34       52              8.0                    14.0
35       52              8.0                     8.0
36       52              8.0                    30.0
37       67              7.0                     7.0
38       67              7.0                     5.0
39       67              7.0                     7.0
40       67              7.0                     8.0
41       67              7.0                     8.0
42       67              7.0                     7.0
43       67              7.0                     7.0
44       67              7.0                     7.0
45       67              7.0                     6.0
46       67              7.0                     7.0
47       67              7.0                     8.0
48       67              7.0                     6.0
49       67              7.0                     7.0
50       67              7.0                     9.0
51       67              7.0                     4.0
52       67              7.0                     9.0
53       67              7.0                     5.0
54       67              7.0                    14.0
55       67              7.0                    14.0
56       81             30.0                    14.0
57       81             30.0                    30.0
58       82             11.0                     7.0
59       82             11.0                     5.0

In [42]:
# Create oder__freq_flag
# Non-frquent customer - higher than 20
# Regular Customer - higher than 10 lower than or equal to 20
#Frequent Customer - lower than or equal to 10

In [43]:
ords_prods_merge.loc[ords_prods_merge['order_frequency'] > 20, 'order_frequency_flag'] = 'Non Frequent Customer'
ords_prods_merge.loc[(ords_prods_merge['order_frequency'] > 10) & (ords_prods_merge['order_frequency'] <= 20), 'order_frequency_flag'] = 'Regular Customer'
ords_prods_merge.loc[ords_prods_merge['order_frequency'] <= 10, 'order_frequency_flag'] = 'Frequent Customer'

In [44]:
# Check values

In [45]:
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent Customer        22790523
Regular Customer          6927608
Non Frequent Customer     2686728
Name: order_frequency_flag, dtype: int64

In [46]:
ords_prods_merge[['user_id', 'order_frequency_flag', 'order_frequency']].head(60)

    user_id   order_frequency_flag  order_frequency
0         1       Regular Customer             20.0
1         1       Regular Customer             20.0
2         1       Regular Customer             20.0
3         1       Regular Customer             20.0
4         1       Regular Customer             20.0
5         1       Regular Customer             20.0
6         1       Regular Customer             20.0
7         1       Regular Customer             20.0
8         1       Regular Customer             20.0
9         1       Regular Customer             20.0
10       15      Frequent Customer              8.0
11       15      Frequent Customer              8.0
12       15      Frequent Customer              8.0
13       15      Frequent Customer              8.0
14       15      Frequent Customer              8.0
15       19      Frequent Customer              7.0
16       19      Frequent Customer              7.0
17       19      Frequent Customer              7.0
18       21      Frequent Customer              7.0
19       31      Frequent Customer              6.0
20       31      Frequent Customer              6.0
21       43      Frequent Customer             10.0
22       43      Frequent Customer             10.0
23       52      Frequent Customer              8.0
24       52      Frequent Customer              8.0
25       52      Frequent Customer              8.0
26       52      Frequent Customer              8.0
27       52      Frequent Customer              8.0
28       52      Frequent Customer              8.0
29       52      Frequent Customer              8.0
30       52      Frequent Customer              8.0
31       52      Frequent Customer              8.0
32       52      Frequent Customer              8.0
33       52      Frequent Customer              8.0
34       52      Frequent Customer              8.0
35       52      Frequent Customer              8.0
36       52      Frequent Customer              8.0
37       67      Frequent Customer              7.0
38       67      Frequent Customer              7.0
39       67      Frequent Customer              7.0
40       67      Frequent Customer              7.0
41       67      Frequent Customer              7.0
42       67      Frequent Customer              7.0
43       67      Frequent Customer              7.0
44       67      Frequent Customer              7.0
45       67      Frequent Customer              7.0
46       67      Frequent Customer              7.0
47       67      Frequent Customer              7.0
48       67      Frequent Customer              7.0
49       67      Frequent Customer              7.0
50       67      Frequent Customer              7.0
51       67      Frequent Customer              7.0
52       67      Frequent Customer              7.0
53       67      Frequent Customer              7.0
54       67      Frequent Customer              7.0
55       67      Frequent Customer              7.0
56       81  Non Frequent Customer             30.0
57       81  Non Frequent Customer             30.0
58       82       Regular Customer             11.0
59       82       Regular Customer             11.0

### 7.  Export Final Data as Pickle

In [47]:
# Export data to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged48.pkl'))